:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: lightcoral;
}

#second {
  flex: 1;
  display: flex;
  flex-direction: column;

  .wrapper {
    flex: 1;
    background: blue;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  p {
    margin: 0;
  }
}

#image {
  background: aquamarine;
}
