:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: lightcoral;
}

#second {
  flex-grow: 1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#image {
  background: aquamarine;
}
